@model Facturando_2.Models.Factura

@{
    ViewData["Title"] = "Create";
}

<h1>Crear una nueva Factura</h1>

<h4>Para facturar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayNameFor(model => model.IdClienteF)
                <input asp-for="Clientes" class="form-control" />
                <span asp-validation-for="IdClienteF" class="text-danger"></span>
                <select>
                    <option value="1">juanita</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Usuarios" class="control-label"></label>
                <input asp-for="Usuarios" class="form-control" />
                <span asp-validation-for="IdFactutaF" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorTotal" class="control-label"></label>
                <input asp-for="ValorTotal" class="form-control" />
                <span asp-validation-for="ValorTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Regresa a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
